/*
███████╗ ██████╗ ██████╗ ███╗   ███╗
██╔════╝██╔═══██╗██╔══██╗████╗ ████║
█████╗  ██║   ██║██████╔╝██╔████╔██║
██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║
██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║
╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝
*/

// - vertical-logo-input: 1
// - button/address: 2
// - required-stuff-warning: 1
// - inquire-form: 8
// 12 columns total - something we may replicate when bulma is added

// ==============================================
// ENTIRE PAGE
// ==============================================

// Client changed
// #input-page {
//   background-color: black;
// }

// ==============================================
// UTILITY CLASSES - switch inline CSS styles
// ==============================================

.inactive-grey {
  border-color: "grey";
  color: "grey";
}

.active-white {
  border-color: "white";
  color: "white";
}

#mobile-column-margin {
  margin: 0 10px;
}

// ==============================================
// 1ST COLUMN - SVG logo
// ==============================================
.input-logo {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vh;
}

#input-logo-mobile {
  position: -webkit-sticky;
  position: sticky;
  margin-top: 20vh;
}

// ==============================================
// 2ND COLUMN - close button & address
// ==============================================

#close-button {
  // width: 100px;
  // height: 36px;
  border: 1px solid white;
  background-color: black;
  top: 60vh;
  position: -webkit-sticky;
  position: sticky;
  p {
    font-size: 14pt;
    padding: 8px 18px;
  }
}

#close-button-mobile {
  // width: 100px;
  // height: 36px;
  border: 1px solid white;
  background-color: black;
  margin-top: 10vh;
  // position: -webkit-sticky;
  // position: sticky;
  p {
    font-size: 14pt;
    padding: 8px 18px;
  }
}

.input-contact-info {
  top: 66vh;
  position: -webkit-sticky;
  position: sticky;
  p {
    font-size: 14pt;
    line-height: 21pt;
    &:nth-child(3) {
      margin-top: 21pt;
    }
  }
  a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-family: Graphik;
    line-height: 21px;
    font-size: 14px;
  }
}

.input-contact-info-mobile {
  margin-top: 10vh;
  p {
    font-size: 14pt;
    line-height: 21pt;
    &:nth-child(3) {
      margin-top: 21pt;
    }
  }
  a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-family: Graphik;
    line-height: 21px;
    font-size: 14px;
  }
}

// ==============================================
// 3RD COLUMN - required text notice
// ==============================================

#required-text {
  margin-top: 241px;
  p {
    transform: rotate(90deg);
    font-size: 12pt;
    white-space: nowrap;
  }
}

// ==============================================
// 4TH COLUMN - the form itself
// ==============================================
//.success is for the success message
.success {
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
}

.copyrightSuccess {
  display: flex;
  flex-direction: row;
  padding-top: 70vh;
  justify-self: flex-end;
  color: gray;
}

#form-header-text {
  font-size: 16pt;
  margin-top: 136px;
}

#form-header-required-text-mobile {
  font-size: 8pt;
  margin-top: 30px;
  opacity: 0.5;
}

label {
  font-family: "Graphik";
  font-size: 12pt;
  width: 100%;
  input {
    width: 100%;
    font-size: 23pt;
    padding-bottom: 10px;
    background-color: black;
    border-style: hidden hidden solid;
    border-width: 0 0 1px;
  }
  p {
    padding-top: 10px;
    padding-bottom: 84px;
  }
}

// =============================
// Adjacent inputs
// 001, 002
// =============================

.adjacent-inputs {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 84px;
  label:first-child {
    margin-right: 21px;
  }
}

// =============================
// Solo inputs
// 003, 005, 007, 008, 012
// =============================

.one-line-input {
  width: 100%;
}

// =============================
// <TextBox /> inputs
// 004, 006, 010, 011, 013
// =============================

.text-box-container {
  padding-bottom: 84px;
  .text-box {
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    .text-box-details {
      flex-direction: row;
      justify-content: space-between;
      .text-box-description {
        flex: 3;
        font-size: 12pt;
        #mobile {
          font-size: 6pt;
        }
      }
      .text-box-char-count {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        #mobile {
          font-size: 6pt;
        }
      }
    }
    textarea {
      width: 100%;
      height: 100%;
      background-color: black;
      border-style: hidden;
      font-size: 14pt;
      line-height: 21pt;
      margin-top: 10px;
      overflow: hidden;
    }
  }
}

// =============================
// File Upload
// 009
// =============================

.file-upload-box {
  height: 220px;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 50px;
  .upload {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10px 14px 0;
    flex-direction: column;
    p {
      justify-self: center;
    }
    .upload-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      #drop-file {
        flex: 1;
      }
      #instructions {
        flex: 4;
      }
      #limit {
        flex: 1;
        display: flex;
        justify-content: flex-end;
      }
    }
    .upload-icon {
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: "center";
      justify-content: "center";
      p {
        flex: 1;
        height: 100%;
        align-self: center;
      }
      img {
        flex: 1;
        // height: 41px;
        align-self: center;
        justify-self: center;
      }
      div {
        flex: 1;
        height: 100%;
        align-self: center;
      }
    }
  }
}

// =============================
// Capital Raised
// 012
// =============================

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.dollar-and-input {
  display: flex;
  height: calc(23pt + 10px);
  p {
    flex: 1;
    margin-top: -17px;
    margin-right: 2px;
    font-size: 23pt;
  }
}

// =============================
// Anticipated Launch Schedule
// 014
// =============================

.launch-schedule-dropdown {
  // background-color: darkmagenta;
  width: 100%;
  font-size: 23pt;
  font-family: "Graphik";
  color: white;
  background-color: black;
  border-style: hidden hidden hidden hidden;
  .dropdown-wrapper {
    border-bottom: 1px solid white;
    .selected-option {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .dropdown-arrow {
        width: 30px;
        height: 30px;
      }
    }
    .dropdown-options {
      font-family: "Graphik";
      font-size: 14pt;
      .selected-option {
        border-bottom: 1px black solid;
        padding: 8px 0 8px 10px;
        background: black;
      }
      .unselected-option {
        border-bottom: 1px black solid;
        padding: 8px 0 8px 10px;
        color: black;
        background-color: white;
      }
    }
  }
  p {
    font-size: 12pt;
  }
}

// =============================
// Services Needed
// 015
// =============================
.selectedService {
  color: black;
  background-color: white;
  width: 100%;
}

.hoverService {
  color: white;
  background-color: black;
  width: 100%;
}

.servicesCheckboxActive {
  height: 2vh;
  width: 2vh;
  border: 1px groove black;
  /* border-style: groove; */

  align-self: center;
}

.servicesCheckboxInactive {
  height: 2vh;
  width: 2vh;
  border: 1px outset grey;
  align-self: center;
  /* color: grey; */
  background: white;
}

.servicesCheckboxHover {
  height: 2vh;
  width: 2vh;
  border: 1px outset white;
  align-self: center;
  background: black;
}

.checkmark {
  justify-self: center;
  align-self: center;
  height: 95%;
  width: 95%;
}

// =============================
// Terms & Conditions
// =============================

.terms {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 49px;
  .agree-terms {
    padding-left: 13px;
    font-size: 12pt;
  }
}

// =============================
// Submit Button
// =============================

.submit-btn {
  color: black;
  border: none;
  width: 100%;
  height: 36px;
  border-radius: 2px;
  margin-bottom: 50px;
  font-family: "Graphik";
  font-size: 14px;
}

// =============================
// Legalese
// =============================

.legal-stuff {
  font-family: "Graphik";
  font-family: 12pt;
  line-height: 21pt;
  margin-bottom: 118px;
  .grey-legal {
    color: grey;
  }
}

// =============================
// Copyright
// =============================
.copyright {
  display: flex;
  flex-direction: row;
  margin: 120px 0 50px;
  p {
    color: grey;
    &.copyright-text {
      flex: 1;
    }
    &.rights-text {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.copyright-mobile {
  display: flex;
  flex-direction: column;
  padding: 80px 0 50px;
  p {
    color: grey;
    &.copyright-text {
      flex: 1;
    }
    &.rights-text {
      flex: 1;
      display: flex;
      margin-top: 3vh;
    }
  }
}

.copyrightSuccess {
  display: flex;
  flex-direction: row;
  padding-top: 70vh;
  p {
    color: grey;
    &#copyright-text {
      flex: 1;
    }
    &#rights-text {
      flex: 1;
      display: flex;
      justify-self: flex-end;
    }
  }
}

.copyrightSuccess-mobile {
  display: flex;
  flex-direction: row;
  padding-top: 70vh;
  p {
    color: grey;
    &#copyright-text {
      flex: 1;
    }
    &#rights-text {
      flex: 1;
      display: flex;
      justify-self: flex-end;
    }
  }
}
