/*
███████╗ ██████╗ ██████╗ ███╗   ███╗
██╔════╝██╔═══██╗██╔══██╗████╗ ████║
█████╗  ██║   ██║██████╔╝██╔████╔██║
██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║
██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║
╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝
*/

// - vertical-logo-input: 1
// - button/address: 2
// - required-stuff-warning: 1
// - inquire-form: 8
// 12 columns total - something we may replicate when bulma is added

// ==============================================
// ENTIRE PAGE
// ==============================================

#input-page {
  background-color: black;
}

// ==============================================
// UTILITY CLASSES - switch inline input styles
// ==============================================

.inactive-grey {
  border-color: "grey";
  color: "grey";
}

.active-white {
  border-color: "white";
  color: "white";
}

// ==============================================
// 1ST COLUMN - SVG logo
// ==============================================

#input-logo {
  position: -webkit-sticky;
  position: sticky;
  top: 25vh;
}

// ==============================================
// 2ND COLUMN - close button & address
// ==============================================

#close-button {
  width: 100px;
  height: 50px;
  border: 1px solid white;
  background-color: black;
  top: 40vh;
  position: -webkit-sticky;
  position: sticky;
}

.input-contact-info {
  top: 66vh;
  position: -webkit-sticky;
  position: sticky;
  p {
    font-size: 14px;
    line-height: 21px;
    &:nth-child(3) {
      margin-top: 21px;
    }
  }
}

// ==============================================
// 3RD COLUMN - required text notice
// ==============================================

#required-text {
  position: relative;
  top: 315px;
  p {
    transform: rotate(90deg);
    font-size: 12px;
    white-space: nowrap;
  }
}

// ==============================================
// 4TH COLUMN - the form itself
// ==============================================

#form-header-text {
  font-size: 16px;
  margin-top: 136px;
}

label {
  font-family: "Graphik";
  font-size: 12px;
  width: 100%;
  padding-bottom: 84px;
  input {
    width: 100%;
    font-size: 23px;
    padding-bottom: 10px;
    background-color: black;
    border-style: hidden hidden solid;
    border-width: 0 0 1px;
  }
  p {
    padding-top: 10px;
  }
}

// =============================
// Adjacent inputs
// 001, 002
// =============================

.adjacent-inputs {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 84px;
  label:first-child {
    padding-right: 21px;
  }
}

// =============================
// Solo inputs
// 003, 005, 007, 008, 012
// =============================
