/*
███████╗ ██████╗ ██████╗ ███╗   ███╗
██╔════╝██╔═══██╗██╔══██╗████╗ ████║
█████╗  ██║   ██║██████╔╝██╔████╔██║
██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║
██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║
╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝
*/

// - vertical-logo-input: 1
// - button/address: 2
// - required-stuff-warning: 1
// - inquire-form: 8
// 12 columns total - something we may replicate when bulma is added

// ==============================================
// ENTIRE PAGE
// ==============================================

#input-page {
  background-color: black;
}

// ==============================================
// UTILITY CLASSES - switch inline CSS styles
// ==============================================

.inactive-grey {
  border-color: "grey";
  color: "grey";
}

.active-white {
  border-color: "white";
  color: "white";
}

// ==============================================
// 1ST COLUMN - SVG logo
// ==============================================

#input-logo {
  position: -webkit-sticky;
  position: sticky;
  top: 25vh;
}

// ==============================================
// 2ND COLUMN - close button & address
// ==============================================

#close-button {
  // width: 100px;
  // height: 36px;
  border: 1px solid white;
  background-color: black;
  top: 40vh;
  position: -webkit-sticky;
  position: sticky;
  p {
    font-size: 14pt;
    padding: 8px 18px;
  }
}

.input-contact-info {
  top: 66vh;
  position: -webkit-sticky;
  position: sticky;
  p {
    font-size: 14pt;
    line-height: 21pt;
    &:nth-child(3) {
      margin-top: 21pt;
    }
  }
}

// ==============================================
// 3RD COLUMN - required text notice
// ==============================================

#required-text {
  position: relative;
  top: 241px;
  p {
    transform: rotate(90deg);
    font-size: 12pt;
    white-space: nowrap;
  }
}

// ==============================================
// 4TH COLUMN - the form itself
// ==============================================

#form-header-text {
  font-size: 16pt;
  margin-top: 136px;
}

label {
  font-family: "Graphik";
  font-size: 12pt;
  width: 100%;
  input {
    width: 100%;
    font-size: 23pt;
    padding-bottom: 10px;
    background-color: black;
    border-style: hidden hidden solid;
    border-width: 0 0 1px;
  }
  p {
    padding-top: 10px;
    padding-bottom: 84px;
  }
}

// =============================
// Adjacent inputs
// 001, 002
// =============================

.adjacent-inputs {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 84px;
  label:first-child {
    padding-right: 21px;
  }
}

// =============================
// Solo inputs
// 003, 005, 007, 008, 012
// =============================

.one-line-input {
  width: 100%;
}

// =============================
// <TextBox /> inputs
// 004, 006, 010, 011, 013
// =============================

.text-box-container {
  padding-bottom: 84px;
  .text-box {
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    .text-box-details {
      flex-direction: row;
      justify-content: space-between;
      .text-box-description {
        flex: 3;
        font-size: 12pt;
      }
      .text-box-char-count {
        display: flex;
        flex: 1;
        justify-content: flex-end;
      }
    }
    textarea {
      width: 100%;
      height: 100%;
      background-color: black;
      border-style: hidden;
      font-size: 14pt;
      line-height: 21pt;
      margin-top: 10px;
      overflow: hidden;
    }
  }
}

// =============================
// File Upload
// 009
// =============================

.file-upload-box {
  height: 220px;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 50px;
  .upload {
    height: 100%;
    width: 100%;
    padding: 10px 14px 0;
    flex-direction: column;
    p {
      justify-self: center;
    }
    .upload-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      #drop-file {
        flex: 1;
      }
      #instructions {
        flex: 4;
      }
      #limit {
        flex: 1;
        display: flex;
        justify-content: flex-end;
      }
    }
    .upload-icon {
      height: 100%;
      flex-direction: row;
      align-items: "center";
      justify-content: "center";
      p {
        flex: 1;
        height: 100%;
      }
      img {
        flex: 1;
        height: 41px;
        align-self: center;
      }
    }
  }
}
