/*
██╗      █████╗ ███╗   ██╗██████╗ ██╗███╗   ██╗ ██████╗
██║     ██╔══██╗████╗  ██║██╔══██╗██║████╗  ██║██╔════╝
██║     ███████║██╔██╗ ██║██║  ██║██║██╔██╗ ██║██║  ███╗
██║     ██╔══██║██║╚██╗██║██║  ██║██║██║╚██╗██║██║   ██║
███████╗██║  ██║██║ ╚████║██████╔╝██║██║ ╚████║╚██████╔╝
╚══════╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═════╝ ╚═╝╚═╝  ╚═══╝ ╚═════╝
*/

// ==============================================
// Background Img
// ==============================================
#landing-bg {
  background-image: url(../imgs/bg1.jpg);
  background-size: cover;
  overflow-y: hidden;
}

// ==============================================
// DESKTOP
// ==============================================

// =======================
// First Column
// =======================
#desktop-blurb {
  margin-top: -3px;

  p {
    font-size: 16pt;
    line-height: get-line-height(16pt, 23pt);
    text-transform: uppercase;

    &:last-child {
      margin-top: 16px;
    }
  }
}

// =======================
// Second Column
// =======================
// This column is flexed manually in LandingPage
.vertical-logo {
  justify-content: center;
}

// =======================
// Third Column
// =======================
// This column is flexed manually in LandingPage
#desktop-landing-right {
  height: 100%;
  flex-direction: column;

  #main-button {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .inquire-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: transparent;
      border: 2px solid white;
      padding: 10px 15px;
      font-family: "Graphik";
      font-size: 16pt;

      p {
        color: white;
        padding-right: 27px;
      }
    }
  }
}

// ==============================================
// MOBILE
// ==============================================

// =======================
// First Column
// =======================
// Straight forward; it's one SVG file; needs to be made larger

// =======================
// Second Column
// =======================
#mobile-landing {
  height: 100%;
  flex-direction: column;
  align-content: space-between;

  #mobile-inquire {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: rgba(255, 255, 55, 0.5);
  }

  #mobile-blurb {
    flex: 2;

    p {
      font-size: 14pt;
      line-height: 19pt;
      text-transform: uppercase;

      &:last-of-type {
        margin-top: 19px;
      }
    }
    // background-color: rgba(55, 255, 55, 0.5);
  }
}
