/*for the wrapper around the services needed checkbox dropdown*/
.checkboxDropdownWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 100%;
}

/*the little checkbox for terms agreement if cheicked*/
.termsCheckboxAgreed {
  height: 2vh;
  width: 2vh;
  border: 1px solid white;
  background: black;
}

/*the little checkbox for terms agreement if NOT checked*/
.termsCheckboxNotAgree {
  height: 2vh;
  width: 2vh;
  border: 1px solid white;
  /* color: grey; */
  background: transparent;
}

.copyrightSuccess {
  display: flex;
  flex-direction: row;
  padding-top: 70vh;
  justify-self: flex-end;
  color: gray;
}

.legalInfo {
  font-family: Graphik;
  font-weight: normal;
  font-size: 14px;
  color: 'white';
  opacity: 0.5;
}

.legalLabel {
  color: white;
  font-family: Graphik;
  font-weight: normal;
  font-size: 14px;
  margin-top: 60px;
}
